<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie.pro.mypage.dao.MyticketDao">

<!-- 예매목록 -->

<select id="mytkList" parameterType="String" resultType="movie.pro.mypage.dto.MyticketDto">
	select * 
	from ticket 
	natural join showinfo 
	natural join theater
	natural join cinema 
	where TK_ID=#{tk_id}
	order by tk_pay_time DESC
</select>


</mapper>

